@import 'variables';
@import 'base';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $f-family;
    font-size: $f-size;
    background-color: $primary-color-pale-blue;
}